@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkFilter {
  position: absolute;
  height: 100%;
  inset: 0;
  backdrop-filter: brightness(110%) contrast(110%);
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  overflow: hidden;
}

.parallax-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}

.parallax-base {
  transform: translateZ(0);
}

.parallax-back {
  transform: translateZ(-1px) scale(2);
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 720px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m -8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }

  .socialsTop {
    display: flex !important;
  }

  .header-top {
    display: none !important;
  }

  .header-links {
    position: absolute;
    top: 0;
    max-height: 10vh !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    padding: 0 15rem;
  }

  .header-link {
    padding-left: 0px !important;
    justify-content: center !important;
  }

  .header-link > p {
    color: #333 !important;
    font-weight: 300;
    font-size: 125% !important;
  }

  .home-background {
    background-position: top right !important;
  }

  .menu-menuContainer {
    display: flex !important;
  }

  .aboutFilter {
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.75), transparent) !important;
  }

  .review > p {
    padding: 0 10rem;
    font-size: 150% !important
  }

  .footer {
    height: 100% !important;
  }

  .footerDiv {
    height: 100% !important;
  }

  .footer-socials {
    width: 15% !important;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-l-1 {
    width: 8.33%;
  }

  .col-l-2 {
    width: 16.66%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.33%;
  }

  .col-l-5 {
    width: 41.66%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.33%;
  }

  .col-l-8 {
    width: 66.66%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.33%;
  }

  .col-l-11 {
    width: 91.66%;
  }

  .col-l-12 {
    width: 100%;
  }

  .home-background {
    background-position: top right !important;
  }

  .socialsTop {
    display: flex !important;
  }

  .menu-lace {
    background-size: cover !important;
  }

  .menu-menuContainer {
    display: flex !important;
  }

  .aboutFilter {
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.75), transparent) !important;
  }

  .review > p {
    padding: 0 10rem;
    font-size: 150% !important
  }

  .galleryContainer {
    width: 500vw !important;
  }

  .gallery {
    animation: galleryDesktop 60s linear infinite !important;
  }

  .footer {
    height: 100% !important;
  }

  .footerDiv {
    height: 100% !important;
  }

  .footer-socials {
    width: 15% !important;
  }
}


/* Scroll animations */

.scroll {
  opacity: 0;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translate3d(-100px,0,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate3d(100px,0,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translate3d(0,50px,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
